doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css' integrity='sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=' crossorigin='anonymous')
  link(rel='stylesheet' href='css/travel.css')
  title KnuckleTravel Chat App
.join-container
  header.join-header
    h1
      i.fas.fa-comments
      |  KnuckleTravel Chat
  main.join-main
    form(action='chat')
      .form-control
        label(for='username') Username
        input#username(value=`${username}` type='text' name='username' placeholder=`${username}` required='')
      .form-control
      label(for='room') Room
      select#room(name='room')
        each trip in trips
          option= `${trip.country}, ${trip.region}, ${trip.city}, ${trip.date}`
      button.btn(type='submit') Join Chat

